<div class="container">
    <h1 class="text-primary">
        Pension Details
    </h1>
    <br>
    <hr>
    <table class="table table-striped table-bordared">
        <tr>
            <th>Pension Amount</th>
            <th>Bank Charge</th>
        </tr>
        <tr>
            <td>{{ pensionDetails.pensionAmount }}</td>
            <td>{{ pensionDetails.bankServiceCharge }}</td>
        </tr>
        <tr class="msg">
            Pension details saved!!!
        </tr>
    </table>
    <hr>
</div>
